<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="statsd" type="StatsdClient.ClientConfigSection, StatsdClient" />
  </configSections>
  <statsd>
    <client host="127.0.0.1" 
            port="8080" 
            prefix="bob" 
            connType="Tcp"
            tcpRetryOnDisconnect="false"
            retryAttempts="5"
            rethrowOnError="true"
    ></client>
  </statsd>
</configuration>